XTerm.vt100.scrollBar: false

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

xterm*background: rgb:33/33/33
xterm*faceName: Liberation Mono
xterm*faceSize: 14
xterm*foreground: green
